body{
	/*background-color:#3fada8; */
	/*color:#fff;*/
	font-family: 'PT Sans', sans-serif;
	margin-top: 30px;

	opacity: 1; 

	/*background-image:linear-gradient(to left, rgb(128, 128, 128), rgb(63, 173, 168)); */
	/*background-color:rgb(63, 173, 168);*/

	/*background-image: linear-gradient(to left, rgb(203, 45, 62), rgb(239, 71, 58)); 
	background-color: rgb(239, 71, 58);*/
	background-image:url("../img/bg20.acddaafcd4f5.jpg");

}
p{
	font-size: 20px;
}
a{
	color:#4CA1AF;
}
#header{
	min-height:70px;
	/*background-color: #000;*/
	color:#fff;

}
#header a{
	color:#fff;
}

#content{
	background-color:#fff;
	color:#000;
	border-radius:2%;
	min-height: 800px;
	padding-top: 20px;
}
.footer{
	height:500px;
	background-color: #000;
}