{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="col-md-2"></div>

<div class="col-md-8" >

	<div class="middle">
	<div class="eachpost">	
				<h1>Add Post</h1>
				<hr>
	<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
		<!-- {{form.as_p}} --><!--renders wrapped in p tag, you can even use as_ul or as_table-->
	    {{ form|crispy }}
	    <input type="submit" value="Save" class="btn btn-success" />
	    <a href="/blog"><button type="button" class="btn">Cancel</button></a>
	</form>
	</div>
	</div>
</div>
<div class="col-md-2"></div>


{% endblock %}